
.header{
    background-color: aqua 
}

#Logo{
    font-family: 'Courier New' ;
    font-size: 90px ;
    text-align: center ;
    text-emphasis-color: purple ;
}

#text{
    box-align: center;
}

#button{
    color:  coral

}